[Unit]
Description=PIPlay
After=multi-user.target

[Service]
Type=simple
WorkingDirectory=/opt/piplay/
ExecStart=/opt/piplay/startup.sh
KillSignal=SIGINT
Restart=on-failure
RestartSec=10
Environment=XDG_RUNTIME_DIR=/run/user/0

[Install]
WantedBy=multi-user.target
